.block_newsletter {
  @include search-box();
  position: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.563rem 0;
  clear: both;
  font-size: $font-size-sm;

  #block-newsletter-label {
    color: $white;
  }


  form {
    .input-wrapper {
      overflow: hidden;
    }

    .row {

      p {
        font-size: 0.75rem;
        color: $white;
      }

      .col-xs-12:first-of-type {
        .btn-primary:first-of-type {
          margin-left: 0.5rem;
        }
      }
    }

    input[type="email"] {
      width: 100%;
      outline: 0 !important;
      padding: 11px;
      border: 1px solid $gray;
      border-radius: 5px;
      &:focus {
        border-color: $brand-primary;
      }
    }

    input {
      height: 42px;
    }
  }
}

#footer {
  .footer-top{
    background-color: $gray-dark;
  }
  .block_newsletter {
    p {
      padding-top: $small-space;
    }

    #block-newsletter-label {
      padding-top: 0;
    }

  }
}

#left-column {
  .block_newsletter {
    padding: 1.563rem 1.25rem;
    margin-bottom: 1.563rem;
  }
}

@include media-breakpoint-down(sm) {
  .block_newsletter {
    padding-top: 1rem;
  }
}
